.logo-section-1 {
    font-family: LoraItalic;
    font-weight: normal;
    font-size: 27px;
}

.logo-wrapper {
    font-family: LoraBoldItalic;
    font-size: 27px;
    color: #fff !important;
    text-decoration: none !important;
}
.header-logo .header-logo-wrapper .header-logo-desktop{
  line-height: 62px;
}
