<div class="memrise courses">
  <div ng-include="'views/header-loggedin.html'"></div>
  <div class="header-fake"></div>


  <div id="optional-banner">

  </div>


  <div id="page-head" class="page-head ">
    <div class="inner container clearfix">


      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h1 class="page-breadcrumb">Khóa học

          </h1>
        </div>

        <div class="col-xs-12 col-md-6">


          <form id="search_form" ng-submit="searchCourse()">
            <div class="input-with-button pull-right search-box">
              <input id="search_string" name="q" type="text" placeholder="Tìm kiếm…" ng-model="keyword">
              <button type="submit" class="btn-default btn-ico">
                <span class="ico ico-search"></span>
              </button>
            </div>
          </form>

        </div>
      </div>


    </div>
  </div>


  <div id="content" class="">
    <div class="container container-main">


      <div class="row">
        <div class="col-sm-12">

          <div class="row">
            <div class="clear" data-role="infinite-scrolling-content">
              <p style="text-align: center;" ng-if="courses.length <= 0">Không có khóa học phù hợp với từ khóa của
                bạn!</p>
              <div class="course-box-wrapper col-xs-12 col-sm-6 col-md-3" ng-repeat="course in courses track by $index">
                <div class="course-box ">
                  <div class="inner-wrap">
                    <a href="/course/1658724/tieng-anh-anh-quoc-1/" class="picture-wrapper">
                      <div class="course-box-picture"
                           style="background-image: url({{course.image}})">
                      </div>
                    </a>
                    <div class="details-wrapper">
                      <div class="target-photo">
                        <img src="https://d2rhekw5qr4gcj.cloudfront.net/uploads/category_photos/en.png" alt="">
                      </div>
                      <div class="clearfix">
                <span class="author pull-right">

                        theo

                            <a data-role="hovercard" data-user-id="2224242"
                               data-direction="bottom" class="author-link">Elearning</a>
                </span>
                        <a class="category" title="Tiếng Anh">Tiếng Anh</a>
                      </div>
                      <h3>
                        <a ui-sref="detailCourses({id_course:course.idcourse})" class="inner" title="{{course.name}}">
                          {{course.name}}
                        </a>
                      </h3>
                      <div class="details">
                        <div class="stats">
                    <span class="stat" title="
                          {{course.number}} người đang tham gia khóa học này
                          ">
                        <span class="ico ico-user"></span> {{course.number}}
                    </span>
                          <span class="stat" title="Khóa học này kéo dài khoảng 3h">
                        <span class="ico ico-clock"></span> 3h
                    </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div data-role="infinite-scrolling-pagination" ng-if="courses.length > 20">

            <div data-role="infinite-scrolling-pagination">

              <div class="infinite-scroller" style="display: block;" ng-click="loadMore()">
                <span class="infinite-scroller-loader loading-spinner" style="display: none;"></span>
                <a class="infinite-scroller-trigger">
                  <span class="ico ico-loop"></span>
                  Tải thêm...
                </a>
              </div>
            </div>

          </div>


        </div>

      </div>


    </div>
  </div>


  <div ng-include="'views/footer.html'"></div>
</div>
