<div class="reverse-header-ruled levels">
  <div ng-include="'views/header-loggedin.html'"></div>
  <div class="header-fake"></div>


  <div id="page-head" class="">
    <div class="inner">


      <div class="course-wrapper" itemscope="" itemtype="http://schema.org/Course">
        <div class="course-header course-header-fat clearfix">


          <a ui-sref="detailCourses({id_course: infoCourse.idcourse})" class="course-photo">
            <img
              ng-src="{{infoCourse.image}}">
          </a>

          <div class="course-details">
            <div class="course-breadcrumb">
              <a ui-sref="courses">Khóa học</a>


              <i class="ico ico-grey ico-arr-right ico-s"></i>
              <a ui-sref="detailCourses({id_course: infoCourse.idcourse})">
                {{infoCourse.name}}
              </a>
            </div>

            <a ui-sref="detailCourses({id_course: infoCourse.idcourse})" accesskey="c">
              <h1 class="course-name sel-course-name" itemprop="name">{{infoCourse.name}}</h1>
            </a>
            <span class="course-description text" itemprop="about">{{infoCourse.description}}</span>
            <div class="course-enroll" ng-if="infoCourse.is_enroll === 0">
              <a class="btn btn-success btn-large" ng-click="enrollCoourse()">
                Bắt đầu học
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="course-tabs-wrap">
    <div class="container">
      <div class="left">
        <ul class="nav nav-pills chromeless">
          <li class="active">
            <a class="tab">
              <i class="ico ico-list"></i>

              Thời gian ({{infoCourse.number}}h)

            </a>
          </li>

        </ul>
      </div>
      <div class="right">

      </div>
    </div>
  </div>


  <div id="content" class="">
    <div class="container container-main">


      <div class="row">
        <div class="col-md-9">

          <div class="progress-box progress-box-course" ng-if="infoCourse.is_enroll === 1">
            <div class="infos">
              <div class="progress-box-title">

                Đã học {{numLearnedLesson}} / {{infoCourse.lessons.length}} bài học
              </div>

              <div class="progress" title="" data-placement="bottom" data-original-title="1%">
                <div class="bar-success bar-abs bar" ng-style="{'width': getPercentComplete(numLearnedLesson, infoCourse.lessons.length) + '%'}"></div>
            </div>

            </div>
            <div class="actions actions-left">
              <div class="btn-group">
                <button class="button small dropdown-toggle"
                        ng-click="quitCourse()">
                  <span class="text">Thoát khóa học</span>
                </button>

              </div>
            </div>
          </div>

          <div class="levels clearfix">

            <a ui-sref="lesson({id_course: infoCourse.idcourse, id_lesson: lesson.idlesson})" class="level clearfix"
               ng-repeat="lesson in infoCourse.lessons track by $index">

              <div class="level-index">{{$index + 1}}</div>

              <div class="level-icon">


                <i class="level-ico level-ico-s  "
                   ng-class="{'level-ico-seed': lesson.islearned && lesson.islearned == 1, 'level-ico-plant-inactive': !lesson.islearned}"></i>

                <div class="level-status">

                  Học

                </div>
              </div>

              <div class="level-title">
                {{lesson.name}}
              </div>
            </a>


          </div>
          &nbsp;
        </div>
        <div class="col-md-3 leaderboard-container">
          <div class="leaderboard">
            <div class="leaderboard-header"><span class="leaderboard-image"></span><span
              class="leaderboard-text">Bảng xếp hạng</span>
            </div>
            <div class="leaderboard-controls">
              <ul class="btn-group" style="padding-left: 0px;">
                <li class="btn btn-small active">Tuần</li>
                <li class="btn btn-small">Tháng</li>
                <li class="btn btn-small">Từ đầu</li>
              </ul>
            </div>
            <div class="leaderboard-content">
              <ul class="leaderboard-rows" style="padding-left: 0px;">
                <li class="leaderboard-row"><span class="row-pic"><img
                  src="https://d2rhekw5qr4gcj.cloudfront.net/img/100sqf/from/uploads/profiles/duongpro_Duong68_180305_0312_12.jpg"></span><span
                  class="row-username"><strong>1.</strong><span data-role="hovercard"
                                                                data-user-id="34751765"
                                                                data-direction="right">duongpro_Duong68</span></span><span
                  class="row-points best"><span>201,124</span></span></li>
                <li class="leaderboard-row"><span class="row-pic"><img
                  src="https://d2rhekw5qr4gcj.cloudfront.net/img/100sqf/from/uploads/profiles/BichThao273_180307_0335_46.jpg"></span><span
                  class="row-username"><strong>2.</strong><span data-role="hovercard"
                                                                data-user-id="34688216"
                                                                data-direction="right">BichThao273</span></span><span
                  class="row-points"><span>187,419</span></span></li>
                <li class="leaderboard-row"><span class="row-pic"><img
                  src="https://d2rhekw5qr4gcj.cloudfront.net/accounts/img/placeholders/avatar-3.png"></span><span
                  class="row-username"><strong>3.</strong><span data-role="hovercard"
                                                                data-user-id="34717019"
                                                                data-direction="right">TrangVoCong42</span></span><span
                  class="row-points"><span>178,909</span></span></li>
                <li class="leaderboard-row"><span class="row-pic"><img
                  src="https://d2rhekw5qr4gcj.cloudfront.net/img/100sqf/from/uploads/profiles/HuyenNguyen96_180226_0145_01.jpg"></span><span
                  class="row-username"><strong>4.</strong><span data-role="hovercard"
                                                                data-user-id="34489716"
                                                                data-direction="right">HuyenNguyen96</span></span><span
                  class="row-points"><span>176,887</span></span></li>
                <li class="leaderboard-row"><span class="row-pic"><img
                  src="https://d2rhekw5qr4gcj.cloudfront.net/accounts/img/placeholders/avatar-3.png"></span><span
                  class="row-username"><strong>5.</strong><span data-role="hovercard"
                                                                data-user-id="34607010"
                                                                data-direction="right">QuynhLuong45</span></span><span
                  class="row-points"><span>172,523</span></span></li>
                <li class="leaderboard-row"><span class="row-pic"><img
                  src="https://d2rhekw5qr4gcj.cloudfront.net/accounts/img/placeholders/avatar-1.png"></span><span
                  class="row-username"><strong>6.</strong><span data-role="hovercard"
                                                                data-user-id="34568906"
                                                                data-direction="right">tanpt2504</span></span><span
                  class="row-points"><span>166,996</span></span></li>
                <li class="leaderboard-row"><span class="row-pic"><img
                  src="https://d2rhekw5qr4gcj.cloudfront.net/img/100sqf/from/uploads/profiles/StevenGreenGaming_180227_1439_14.jpg"></span><span
                  class="row-username"><strong>7.</strong><span data-role="hovercard"
                                                                data-user-id="34548932"
                                                                data-direction="right">StevenGreenGaming</span></span><span
                  class="row-points"><span>143,839</span></span></li>
                <li class="leaderboard-row"><span class="row-pic"><img
                  src="https://d2rhekw5qr4gcj.cloudfront.net/accounts/img/placeholders/avatar-2.png"></span><span
                  class="row-username"><strong>8.</strong><span data-role="hovercard"
                                                                data-user-id="34671659"
                                                                data-direction="right">NngPhm98</span></span><span
                  class="row-points"><span>141,650</span></span></li>
                <li class="leaderboard-row"><span class="row-pic"><img
                  src="https://d2rhekw5qr4gcj.cloudfront.net/img/100sqf/from/uploads/profiles/34618338_180301_1214_44.png"></span><span
                  class="row-username"><strong>9.</strong><span data-role="hovercard"
                                                                data-user-id="34618338"
                                                                data-direction="right">ttnguyen81</span></span><span
                  class="row-points"><span>140,939</span></span></li>
                <li class="leaderboard-row current"><span class="row-pic"><img
                  src="https://d2rhekw5qr4gcj.cloudfront.net/img/100sqf/from/uploads/profiles/hậu_nguyễn176_170113_1602_54.jpg"></span><span
                  class="row-username"><strong>3034.</strong><span data-role="hovercard"
                                                                   data-user-id="20302930"
                                                                   data-direction="right">hậu_nguyễn176</span></span><span
                  class="row-points"><span>0</span></span></li>
              </ul>
              <!--<div class="leaderboard-link"><a href="/course/1658724/tieng-anh-anh-quoc-1/leaderboard/">Xem-->
              <!--thêm</a>-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div ng-include="'views/footer.html'"></div>
</div>
