<div id="footer" class="footer full-width">
    <div class="container">


      <div class="footer-row">
        <div class="footer-col footer-links-col">

          <h4 class="footer-section-heading">Elearning</h4>

          <ul class="footer-ul">
            <li class="footer-li"><a class="footer-link" href="">Giới thiệu</a></li>
            <li class="footer-li"><a class="footer-link" href="">Khoa học</a></li>
            <li class="footer-li"><a class="footer-link" href="">Liên hệ</a></li>

            <li class="footer-li"><a class="footer-link" href="">Đội ngũ</a></li>
            <li class="footer-li"><a class="footer-link" href="">Cơ hội việc làm</a></li>
            <li class="footer-li"><a class="footer-link" href="">Press</a></li>

            <li class="footer-li"><a class="footer-link" href="">Điều Khoản Sử Dụng</a></li>
            <li class="footer-li"><a class="footer-link" href="">Chính Sách Bảo Mật</a></li>

          </ul>

        </div>
        <div class="footer-col footer-links-col">
          <h4 class="footer-section-heading">MORE</h4>

          <ul class="footer-ul">
            <li class="footer-li"><a class="footer-link" href="">Blog</a></li>
            <li class="footer-li"><a class="footer-link" href="">Engineering
              Blog</a></li>
            <li class="footer-li"><a class="footer-link" href="">Diễn đàn</a></li>
            <li class="footer-li"><a class="footer-link" href="">Membus</a></li>
          </ul>

          <h4 class="footer-section-heading">HELP</h4>

          <ul class="footer-ul">
            <li class="footer-li"><a class="footer-link"
                                     href="">Câu
              hỏi thường gặp &amp; Trợ giúp</a></li>
          </ul>

        </div>
        <div class="footer-col footer-links-col">

          <h4 class="footer-section-heading">BROWSE COURSES</h4>

          <ul class="footer-ul">
            <li class="footer-li">
              <a class="footer-link" href="">
                Ngoại ngữ
              </a>
            </li>
            <li class="footer-li">
              <a class="footer-link" href="">
                Nghệ thuật &amp; Văn học
              </a>
            </li>
            <li class="footer-li">
              <a class="footer-link" href="">
                Toán học &amp; Khóa học
              </a>
            </li>
            <li class="footer-li">
              <a class="footer-link" href="">
                Thế giới Tự nhiên
              </a>
            </li>
            <li class="footer-li">
              <a class="footer-link" href="">
                Lịch sử &amp; Địa lý
              </a>
            </li>
            <li class="footer-li">
              <a class="footer-link" href="">
                Chuyên môn &amp; Nghề nghiệp
              </a>
            </li>
            <li class="footer-li">
              <a class="footer-link" href="">
                Giải trí
              </a>
            </li>
            <li class="footer-li">
              <a class="footer-link" href="">
                Khoa học thường thức
              </a>
            </li>

            <li class="footer-li">
              <a class="footer-link" href="">Học tiếng Tây Ban Nha</a>
            </li>

          </ul>
        </div>
        <div class="footer-col footer-logo-col">

          <div class="footer-logo">
           <span class="logo-wrapper" style="color:#7757A8 !important">
               Elearning
           </span>
          </div>

          <div class="footer-social-buttons">

            <div class="social-button social-facebook">
              <a href="" target="_blank"></a>
            </div>

            <div class="social-button social-twitter">
              <a href="" target="_blank"></a>
            </div>

            <div class="social-button social-instagram">
              <a href="" target="_blank"></a>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
