<div id="header" class="header-v2">
    <div class="header-row row">
      <a class="header-logo" href="/vi/" title="Trang chủ">

                <span class="header-logo-wrapper">
                    <div class="header-logo-desktop">
                      <span class="logo-wrapper">
                                     Elearning
                        </span>
                      </div>
                    <span class="header-logo-mobile">
                        <img src="https://d2rhekw5qr4gcj.cloudfront.net/img/logo/m_logotype_white_incircle_resized.svg"
                             alt="memrise">
                    </span>
                </span>

      </a>


      <ul class="header-nav ">

        <li class="header-nav-item plain ">
          <a href="/home/" class="nav-item-btn">
            <span class="nav-item-btn-text">Trang chủ</span>
          </a>
        </li>

        <li class="header-nav-item plain is-active">
          <a href="/vi/courses/" class="nav-item-btn">
            <span class="nav-item-btn-text">Khóa học</span>
          </a>
        </li>
        <li class="header-profile-wrapper">
                    <span class="header-info-card js-info-toggle sel-info-toggle">
                        <span class="info-card-inner" accesskey="h">
                            <span class="info-card-picture">
                                <img class="profile-avatar"
                                     src="https://d2rhekw5qr4gcj.cloudfront.net/img/100sqf/from/uploads/profiles/hậu_nguyễn176_170113_1602_54.jpg"
                                     alt="">
                            </span>
                        </span>
                    </span>
          <span class="header-dropdown-arrow js-info-toggle"></span>

          <div class="header-profile-inner">
            <div class="profile-row profile-details">
              <div class="loading-spinner"></div>
            </div>

            <div class="profile-row profile-links">
              <a href="/user/h%E1%BA%ADu_nguy%E1%BB%85n176/" class="profile-link">
                <i class="profile-link-icon link-icon-1"></i>
                <span class="profile-link-text">Hồ sơ</span>
              </a>
              <a href="/settings/" class="profile-link">
                <i class="profile-link-icon link-icon-2"></i>
                <span class="profile-link-text">Cài đặt</span>
              </a>
              <a href="/logout/" class="profile-link js-logout sel-logout">
                <i class="profile-link-icon link-icon-3"></i>
                <span class="profile-link-text">Đăng xuất</span>
              </a>
            </div>
          </div>

        </li>

      </ul>
    </div>
  </div>
