<div class="dashboard">
  <div ng-include="'views/header-loggedin.html'"></div>
  <div class="header-fake"></div>


  <div id="page-head" class="">
    <div class="inner">
    </div>
  </div>


  <div id="content" class="">
    <div class="container container-main">


      <div class="tabbed-sidebar">

        <div class="sidebar-box sidebar-profile">
          <div class="profile-header">
            <h3 class="name">{{userInfo.name}}</h3>
            <!--<p class="rank">level 5</p>-->
            <div class="image-wrapper">
              <img class="profile-image"
                   src="images/user.jpg"
                   alt="">
              <img class="rank-icon" src="images/ziggy_5.svg" alt="">
            </div>
          </div>
          <div class="profile-content">

            <div class="content-stats">
              <div class="left">
                <p class="placeholder js-placeholder" style="display: none;"></p>
                <p class="number js-num" style="display: block;">{{userInfo.word_learned}}</p>
                <p class="text">từ học được</p>
              </div>
              <div class="center"></div>
              <div class="right">
                <p class="placeholder js-placeholder" style="display: none;"></p>
                <p class="number js-num" style="display: block;">{{userInfo.scored | number}}</p>
                <p class="text">điểm</p>
              </div>
            </div>
            <div class="sidebar-main-btn profile-link">
              <a ui-sref="profile" class="simple">Xem hồ sơ</a>
            </div>
          </div>
        </div>
      </div>

      <div class="tabbed-main page sel-dashboard">
        <section>
          <div class="course-cards-component js-course-cards-component">
            <div class="courses-filter-container">
              <div class="left">
                <div class="title-container"><h1 class="title">Học Được Gần Đây</h1></div>
              </div>
            </div>
            <div>
              <div class="course-card-container js-course-card-container"
                   ng-repeat="course in ownCourses track by $index">
                <div class="course-progress-box">
                  <div class="card-top">
                    <div class="card-image-col"><a href="/course/1870575/dfghj/">
                      <div class="img-crop">
                        <img
                          src="{{course.image}}"
                          class="course-photo">
                        <img
                          src="images/DemoFlags-02_copy.png"
                          class="category-photo"></div>
                    </a></div>
                    <div class="card-main-container">
                      <div class="top-main">
                        <div class="wrapper">
                          <div class="detail wide">
                            <p title="{{course.name}}" class="title">
                              <a href="/course/1870575/dfghj/">{{course.name}}</a>
                            </p>
                          </div>

                          <div class="wrapper">
                            <div class="course-progress">

                              <div class="progress-bar-container">
                                <div ng-style="{'width': getPercentComplete(course.learned,course.total) + '%'}"
                                     class="progress-bar"></div>
                              </div>
                              <div class="right half"><span>Đã học {{course.learned}} / {{course.total}} bài học</span>
                              </div>
                              <div class="left half"><span class="course-complete-text"
                                                           ng-if="course.learned == course.total">Course Complete!</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </section>

      </div>

    </div>
  </div>


  <div ng-include="'views/footer.html'"></div>
</div>
