<div class="memrise fullscreen garden learn-session">
  <div class="session-header js-session-header learn" style="display: block;">

    <div class="header-block header-left">
      <!--<span class="session-logo-wrapper">-->
      <!--<span class="session-logo"></span>-->
      <!--</span>-->
    </div>

    <div class="header-block header-middle">
      <div class="course-details-wrapper">
        <div class="course-details">
                <span class="course-info">
                    <span class="details js-course-details sel-course-details">Học 5 từ mới</span>
                </span>
          <span class="course-title">
                    <span class="title js-course-title">400 từ TOEFL - Tiếng Anh - Thức ăn và Trồng trọt</span>
                </span>
        </div>
        <div class="header-points">

          <div class="points-wrapper">
            <span class="points-num">0</span>
          </div>
        </div>
      </div>
      <div class="bar-wrapper">
        <div class="bar js-bar" style="width: 0%;"></div>
      </div>
    </div>

    <div class="header-block header-right">
      <div class="header-exit">
        <a class="session-exit" href="/home/"></a>
      </div>
    </div>
  </div>


  <div id="gardening-area" class="clearfix gardening-area js-gardening-area">

    <div id="left-area" style="display: block;">
    </div>


    <div class="loading-screen" style="display: none;">
      <div class="loading-spinner"></div>
    </div>


    <div id="central-area" class="central-area js-central-area" style="display: block;">
      <div id="boxes">
        <div class="garden-box presentation show-more show-want-mem multiple_choice">
          <button class="next-button btn btn-inverse clearfix sel-next-button" title="Tiếp [Phím tắt : Enter]"
                  style="display: inline-block;">
            <span class="next-icon"></span>
            <div class="next-text">Tiếp</div>
          </button>

          <div class="thing-show sel-thing-show show-more" ng-if="typeQuestion == 1">
            <div class="columns have-attributes">
              <div class="row column  primary">
                <div class="row-label">Tiếng Anh</div>
                <div class="row-value">
                  <div class="primary-value">
                    cultivation
                  </div>
                </div>
              </div>
              <div class="row column  secondary">
                <div class="row-label">Định nghĩa tiếng Anh</div>
                <div class="row-value">
                  <div class="primary-value">
                    the process of preparing the land for growing crops
                  </div>
                </div>
              </div>
              <div class="row column  ">
                <div class="row-label">Tiếng Việt</div>
                <div class="row-value">
                  <div class="primary-value">
                    sự trồng trọt
                  </div>
                  <div class="alts">
                    <span class="alt">trồng trọt</span>
                  </div>
                </div>
              </div>
              <div class="row column first-audio">
                <div class="row-value">
                  <div class="primary-value">
                    <a class="audio-player audio-player-hover"
                       href="https://d2rhekw5qr4gcj.cloudfront.net/uploads/things/audio/18516258_150515_2041_11.mp3"></a>
                  </div>
                </div>
              </div>

            </div>
            <div class="attributes">
              <div class="row attribute">
                <div class="row-label">Từ loại</div>
                <div class="row-value">
                  <span class="badge" title="Loại từ ">danh từ</span>
                </div>
              </div>
            </div>
          </div>

          <div ng-if="typeQuestion == 2">
            <div class="question-row clearfix with-attributes">
              <div class="graphic"></div>
              <div class="qquestion qtext  ">
                to leave, to give up
                <div class="qattributes">
                  <span class="badge" title="Loại từ ">động từ</span>
                </div>
              </div>
              <div class="extra-info  ">từ bỏ</div>
            </div>
            <div class="hint">
              <span class="hint-text">
                      Chọn câu trả lời phù hợp
              </span>
            </div>

            <ol class="choices unchosen clearfix  grid">
              <li class="shiny-box choice clearfix" data-choice-id="0">
                <span class="index">1.</span>
                <span class="val  ">deviant</span>
                <span class="marking-icon"></span>
              </li>
              <li class="shiny-box choice clearfix" data-choice-id="1">
                <span class="index">2.</span>
                <span class="val  ">to abandon</span>
                <span class="marking-icon"></span>
              </li>
              <li class="shiny-box choice clearfix" data-choice-id="2">
                <span class="index">3.</span>
                <span class="val  ">to adjust</span>
                <span class="marking-icon"></span>
              </li>
              <li class="shiny-box choice clearfix active" data-choice-id="3">
                <span class="index">4.</span>
                <span class="val  ">to aggravate</span>
                <span class="marking-icon"></span>
              </li>
            </ol>
          </div>

          <div ng-if="typeQuestion == 5">
            <div class="question-row clearfix with-attributes">
              <div class="">
                <a class="audio-player audio-player-hover" href="https://d2rhekw5qr4gcj.cloudfront.net/uploads/things/audio/18516258_150515_2041_11.mp3"></a>
              </div>
            </div>
            <div class="hint">
              <span class="hint-text">
                      Chọn câu trả lời phù hợp
              </span>
            </div>

            <ol class="choices unchosen clearfix  grid">
              <li class="shiny-box choice clearfix" data-choice-id="0">
                <span class="index">1.</span>
                <span class="val  ">deviant</span>
                <span class="marking-icon"></span>
              </li>
              <li class="shiny-box choice clearfix" data-choice-id="1">
                <span class="index">2.</span>
                <span class="val  ">to abandon</span>
                <span class="marking-icon"></span>
              </li>
              <li class="shiny-box choice clearfix" data-choice-id="2">
                <span class="index">3.</span>
                <span class="val  ">to adjust</span>
                <span class="marking-icon"></span>
              </li>
              <li class="shiny-box choice clearfix" data-choice-id="3">
                <span class="index">4.</span>
                <span class="val  ">to aggravate</span>
                <span class="marking-icon"></span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>


    <div id="right-area" style="display: block;">

      <div class="circle" style="display: none;">
        <div class="garden-timer">
          <div class="container">
            <div class="txt"></div>
            <div class="slice">
              <div class="pie unfill"></div>
              <div class="pie fill"></div>
            </div>
          </div>
        </div>
        <div class="frontage"></div>
      </div>
      <div class="message"></div>
    </div>

  </div>


  <div id="pause-screen">
    <a id="play-button"></a>
    <a id="stop-learning" class="btn" accesskey="w">
      <span class="ico ico-stop"></span>
      Lưu và thoát
    </a>
  </div>


  <div id="mode-selector-modal-wrapper"></div>
</div>

