<div class="memrise fullscreen garden learn-session">
  <div class="session-header js-session-header learn" style="display: block;">

    <div class="header-block header-left">
    </div>

    <div class="header-block header-middle">
      <div class="course-details-wrapper">
        <div class="course-details">
                <span class="course-info">
                    <span class="details js-course-details sel-course-details">Học {{lesson.words.length}} từ mới</span>
                </span>
          <span class="course-title">
                    <span class="title js-course-title">{{infoCourse.name}} - {{learnLessonData.name}}</span>
                </span>
        </div>
        <div class="header-points">

          <div class="points-wrapper">
            <span class="points-num">{{totalMark}}</span>
          </div>
        </div>
      </div>
      <div class="bar-wrapper">
        <div class="bar js-bar" ng-style="{'width': totalMark + '%'}"></div>
      </div>
    </div>

    <div class="header-block header-right">
      <div class="header-exit">
        <a class="session-exit" ui-sref="lesson({id_course: idCourse, id_lesson: idLesson})"></a>
      </div>
    </div>
  </div>


  <div id="gardening-area" class="clearfix gardening-area js-gardening-area">

    <div id="left-area" style="display: block;">
    </div>


    <div class="loading-screen" style="display: none;">
      <div class="loading-spinner"></div>
    </div>
    <div id="central-area" class="central-area js-central-area" style="display: block;">
      <div id="boxes">
        <div class="garden-box presentation show-more show-want-mem multiple_choice">
          <button class="next-button btn btn-inverse clearfix sel-next-button" title="Tiếp [Phím tắt : Enter]"
                  style="display: inline-block;" ng-click="nextQuestion()" ng-if="learnLessonData"
                  ng-hide="indexActiveQuestion == learnLessonData.questions.length - 1">
            <span class="next-icon"></span>
            <div class="next-text">Tiếp</div>
          </button>
          <div ng-repeat="question in learnLessonData.questions track by $index">
            <div class="thing-show sel-thing-show show-more"
                 ng-class="{'hide-question': indexActiveQuestion !== $index, 'show-question': indexActiveQuestion === $index}"
                 ng-if="question.type == 1">
              <div class="columns have-attributes">
                <div class="row column  primary">
                  <div class="row-label">Tiếng Anh</div>
                  <div class="row-value">
                    <div class="primary-value">
                      cultivation
                    </div>
                  </div>
                </div>
                <div class="row column  secondary">
                  <div class="row-label">Định nghĩa tiếng Anh</div>
                  <div class="row-value">
                    <div class="primary-value">
                      the process of preparing the land for growing crops
                    </div>
                  </div>
                </div>
                <div class="row column  ">
                  <div class="row-label">Tiếng Việt</div>
                  <div class="row-value">
                    <div class="primary-value">
                      sự trồng trọt
                    </div>
                    <div class="alts">
                      <span class="alt">trồng trọt</span>
                    </div>
                  </div>
                </div>
                <div class="row column first-audio">
                  <div class="row-value">
                    <div class="primary-value">
                      <a class="audio-player audio-player-hover"
                         href="https://d2rhekw5qr4gcj.cloudfront.net/uploads/things/audio/18516258_150515_2041_11.mp3"></a>
                    </div>
                  </div>
                </div>

              </div>
              <div class="attributes">
                <div class="row attribute">
                  <div class="row-label">Từ loại</div>
                  <div class="row-value">
                    <span class="badge" title="Loại từ ">danh từ</span>
                  </div>
                </div>
              </div>
            </div>

            <div
              ng-class="{'hide-question': indexActiveQuestion !== $index, 'show-question': indexActiveQuestion === $index}"
              ng-if="question.type == 2 || question.type == 3">
              <div class="question-row clearfix with-attributes">
                <div class="graphic"></div>
                <div class="qquestion qtext  ">
                  {{question.title}}
                </div>
              </div>
              <div class="hint">
              <span class="hint-text">
                      Chọn câu trả lời phù hợp
              </span>
              </div>

              <ol class="choices unchosen clearfix  grid">
                <li class="shiny-box choice clearfix"
                    ng-click="chooseAnswer($index, $index + 'answerA', question, question.answerA)"
                    ng-class="{'correct': rightAnswer[$index+ 'answerA'] == true, 'incorrect': rightAnswer[$index+ 'answerA'] == false,
                    'disable-answer': disableAllAnswer}">
                  <span class="index">1.</span>
                  <span class="val  ">{{question.answerA}}</span>
                  <span class="marking-icon"></span>
                </li>
                <li class="shiny-box choice clearfix"
                    ng-click="chooseAnswer($index, $index + 'answerB', question, question.answerB)"
                    ng-class="{'correct': rightAnswer[$index+ 'answerB'] == true, 'incorrect': rightAnswer[$index+ 'answerB'] == false,
                    'disable-answer': disableAllAnswer}">
                  <span class="index">2.</span>
                  <span class="val  ">{{question.answerB}}</span>
                  <span class="marking-icon"></span>
                </li>
                <li class="shiny-box choice clearfix"
                    ng-click="chooseAnswer($index, $index + 'answerC', question, question.answerC)"
                    ng-class="{'correct': rightAnswer[$index+ 'answerC'] == true, 'incorrect': rightAnswer[$index+ 'answerC'] == false,
                    'disable-answer': disableAllAnswer}">
                  <span class="index">3.</span>
                  <span class="val  ">{{question.answerC}}</span>
                  <span class="marking-icon"></span>
                </li>
                <li class="shiny-box choice clearfix"
                    ng-click="chooseAnswer($index, $index + 'answerD', question, question.answerD)"
                    ng-class="{'correct': rightAnswer[$index+ 'answerD'] == true, 'incorrect': rightAnswer[$index+ 'answerD'] == false,
                    'disable-answer': disableAllAnswer}">
                  <span class="index">4.</span>
                  <span class="val  ">{{question.answerD}}</span>
                  <span class="marking-icon"></span>
                </li>
              </ol>
            </div>

            <div
              ng-class="{'hide-question': indexActiveQuestion !== $index, 'show-question': indexActiveQuestion === $index}"
              ng-if="question.type == 4">
              <div class="question-row clearfix with-attributes">
                <div class="graphic"></div>
                <div class="qquestion qtext  ">
                  {{question.title}}
                </div>
              </div>

              <div class="hint">
        <span class="hint-text">
                    Nhập được đọc trong audio ở phía trên và bấm Xem câu trả lời:
        </span>
              </div>

              <div class="typing-wrapper">
                <input type="text" class="roundy shiny-box typing-type-here " ng-model="answerType"
                       ng-class="{'border-red': emptyAnswerType, 'correct disable-answer': rightAnswer[$index],'incorrect disable-answer': rightAnswer[$index] == false}">
              </div>

              <div class="cnt">
                <a class="do-review btn btn-transparent" title="Ôn tập từ này [Phím tắt : Escape]"
                   ng-click="checkAnswerType4($index, answerType)">
                  <i class="ico ico-loop"></i>
                  Xem câu trả lời
                </a>
              </div>
            </div>

            <div
              ng-class="{'hide-question': indexActiveQuestion !== $index, 'show-question': indexActiveQuestion === $index}"
              ng-if="question.type == 5">
              <div class="question-row clearfix with-attributes">
                <div class="">
                  <a class="audio-player audio-player-hover"
                     href="https://d2rhekw5qr4gcj.cloudfront.net/uploads/things/audio/18516258_150515_2041_11.mp3"></a>
                </div>
              </div>
              <div class="hint">
              <span class="hint-text">
                      Chọn câu trả lời phù hợp
              </span>
              </div>

              <ol class="choices unchosen clearfix  grid">
                <li class="shiny-box choice clearfix"
                    ng-click="chooseAnswer($index, $index + 'answerA', question, question.answerA)"
                    ng-class="{'correct': rightAnswer[$index+ 'answerA'] == true, 'incorrect': rightAnswer[$index+ 'answerA'] == false,
                    'disable-answer': disableAllAnswer}">
                  <span class="index">1.</span>
                  <span class="val  ">{{question.answerA}}</span>
                  <span class="marking-icon"></span>
                </li>
                <li class="shiny-box choice clearfix"
                    ng-click="chooseAnswer($index, $index + 'answerB', question, question.answerB)"
                    ng-class="{'correct': rightAnswer[$index+ 'answerB'] == true, 'incorrect': rightAnswer[$index+ 'answerB'] == false,
                    'disable-answer': disableAllAnswer}">
                  <span class="index">2.</span>
                  <span class="val  ">{{question.answerB}}</span>
                  <span class="marking-icon"></span>
                </li>
                <li class="shiny-box choice clearfix"
                    ng-click="chooseAnswer($index, $index + 'answerC', question, question.answerC)"
                    ng-class="{'correct': rightAnswer[$index+ 'answerC'] == true, 'incorrect': rightAnswer[$index+ 'answerC'] == false,
                    'disable-answer': disableAllAnswer}">
                  <span class="index">3.</span>
                  <span class="val  ">{{question.answerC}}</span>
                  <span class="marking-icon"></span>
                </li>
                <li class="shiny-box choice clearfix"
                    ng-click="chooseAnswer($index, $index + 'answerD', question, question.answerD)"
                    ng-class="{'correct': rightAnswer[$index+ 'answerD'] == true, 'incorrect': rightAnswer[$index+ 'answerD'] == false,
                    'disable-answer': disableAllAnswer}">
                  <span class="index">4.</span>
                  <span class="val  ">{{question.answerD}}</span>
                  <span class="marking-icon"></span>
                </li>
              </ol>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div id="right-area" style="display: block;">

      <div class="circle" style="display: none;">
        <div class="garden-timer">
          <div class="container">
            <div class="txt"></div>
            <div class="slice">
              <div class="pie unfill"></div>
              <div class="pie fill"></div>
            </div>
          </div>
        </div>
        <div class="frontage"></div>
      </div>
      <div class="message"></div>
    </div>

  </div>


  <div id="pause-screen">
    <a id="play-button"></a>
    <a id="stop-learning" class="btn" accesskey="w">
      <span class="ico ico-stop"></span>
      Lưu và thoát
    </a>
  </div>


  <div id="mode-selector-modal-wrapper"></div>
</div>

